In [1]:
import pandas as pd
import numpy as np
import sqlite3
import itertools

pd.set_option('display.max_columns', 1000)

In [2]:
conn = sqlite3.connect('./database/database.sqlite')

1. Show tables in database

In [3]:
pd.read_sql('SELECT * FROM sqlite_master where type="table"', conn)

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

In [4]:
matches_df = pd.read_sql('SELECT * FROM Match', conn)
players_df = pd.read_sql('SELECT * FROM Player', conn)
leagues_df = pd.read_sql('SELECT * FROM League', conn)
country_df = pd.read_sql('SELECT * FROM Country', conn)
team_df = pd.read_sql('SELECT * FROM Team', conn)
team_attributes_df = pd.read_sql('SELECT * FROM Team_Attributes', conn)
player_attributes_df = pd.read_sql('SELECT * FROM Player_Attributes', conn)

In [5]:
matches_df.iloc[:5, :]

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [6]:
# How many total matches are there?
print(len(matches_df))

25979

In [7]:
# what is the earliest match we have?
matches_df.sort_values(by='date', ascending=True).iloc[0:5, :]

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
24558,24559,24558,24558,2008/2009,1,2008-07-18 00:00:00,486263,10192,9931,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24559,24560,24558,24558,2008/2009,1,2008-07-19 00:00:00,486264,9930,10179,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24560,24561,24558,24558,2008/2009,1,2008-07-20 00:00:00,486265,10199,9824,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24561,24562,24558,24558,2008/2009,1,2008-07-20 00:00:00,486266,7955,10243,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24613,24614,24558,24558,2008/2009,2,2008-07-23 00:00:00,486268,6493,7955,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Is there enough player data per match?
for i in range(1, 12):
    print(len(matches_df[~matches_df[f'home_player_{i}'].isna()]),
          len(matches_df[~matches_df[f'away_player_{i}'].isna()]))

24755 24745
24664 24701
24698 24686
24656 24658
24663 24644
24654 24666
24752 24744
24670 24638
24706 24651
24543 24538
24424 24425

In [9]:
matches_df[f'home_player_1'].unique()

array([    nan,  39890.,  38327.,  95597.,  30934.,  37990.,  38391.,
        39153.,  37900.,  36835.,  38252.,  34480.,  33676.,  37937.,
        38341.,  38318., 104378., 148308.,  32990.,  39573.,  38797.,
       170323., 148325., 148311., 131403., 148297.,  40014.,  37971.,
        37868.,  13131.,  38289., 104388.,  91929.,  38434.,  31226.,
       149260., 208699.,  38962.,  20747., 131408.,  67949.,  26594.,
       111025., 208718.,  69825.,  11336.,  37839.,  37854.,  37993.,
       156553., 206592.,  26589.,  38793., 277845., 148331., 214340.,
       242300., 181069., 346114.,  13034., 166672., 270473., 107806.,
        36872., 242234., 185644.,  41301., 181572.,  16199., 159883.,
       195782., 185618., 614867., 242243., 104384.,  41818., 128083.,
       305248., 279874., 487334.,  34003.,  32657.,  30726.,  23686.,
        32562.,  36374.,  30380.,  31465.,  35442.,  23932.,  23021.,
        30859.,  35906.,  22978.,  23794.,  30660.,  24224.,  30633.,
        30455.,  36373.,  36286.,  24527.,  31432.,  30622.,  34421.,
        24886.,  23984.,  24227.,  23027.,  37149.,  33948.,  72810.,
        30973.,  23950.,  46518.,  37233.,  24147.,  36283.,  24788.,
        23813.,  30669.,  23307.,  33439.,  24368.,  35477.,  24229.,
        24694.,  25156., 169718.,  24579.,  23265.,  40602.,  37193.,
        26818.,  24064., 182917.,  24634.,  69650., 157303., 155936.,
        39351.,  35495., 127712.,  38617.,  30989.,  33339., 278285.,
        26295.,  35496.,  30974.,  23979.,  24341.,  23793., 186054.,
       119079.,  22998.,  32446.,  30841., 103428.,  32496., 169756.,
       288880.,  24155.,  37770.,  42247.,  95336., 268375.,  45571.,
       289159.,  28955.,  50065., 190142., 109060., 163604.,  37780.,
       188971.,  73462.,  40714.,  30458.,  41186., 145039.,  26233.,
        26523.,  26359.,  26150.,  40712.,  31293.,  26350.,  26168.,
        11321.,  26190.,  26126.,  41097.,  26252.,  30742.,  33617.,
        26117., 121488.,  26313.,  40709.,  26215.,  26343.,  33546.,
        33688.,  26241.,  78904.,  94324.,  26290., 103468.,  27445.,
        46705., 165528.,  39565.,  38230., 188565.,  39989.,  33129.,
        25852., 104432.,  94289.,  26167., 103372., 186806.,  30899.,
        93341.,  23075.,  46224.,  11320.,  26275.,  40549.,  33109.,
       180284., 111193., 190741.,  26367.,  31047.,  27659.,  11319.,
       279175.,  46535.,  38805.,  26410., 189181., 210114.,  41195.,
        94306.,  30900., 140951.,  26335.,  41886.,  26164., 167035.,
        46741., 156664.,  25540.,  25329., 115184., 215311.,  11316.,
       210682., 352860., 185386., 263511., 210164., 187563., 120598.,
        46704., 563068., 181619., 215307., 157955., 206711., 602493.,
       311009., 145550., 103485., 698273., 607121., 510569., 291643.,
        79248., 210387., 529324., 466439.,  27284.,  36147.,  37322.,
        30820.,  27467.,  36058.,  36029.,  37377.,  25524.,  35991.,
        24104.,  26173.,  31299.,  27424.,  27358.,  30648.,  27313.,
        27518.,  29303.,  27299.,  38668.,  27342.,  27341.,  30703.,
        36054.,  42909.,  27504.,  32653.,  27255.,  49586.,  36343.,
        27433.,  25018., 114963.,  71524.,  94841., 114737.,  27488.,
       128689., 178778.,  36181.,  42898., 178771.,  33473., 114211.,
        37678.,  27447.,  36878.,  41087.,  35875., 184554.,  27503.,
       215168., 210822., 147733.,  38628., 278865.,  27376., 170322.,
        40992.,  39566.,  69149.,   5440., 177698., 287894.,  94139.,
        97746.,  36479.,  41618., 212815.,  37335., 177953., 112978.,
       240338., 408986.,  68813., 448805.,  66757.,  40094., 304355.,
        73409.,  29529.,  69259.,  42390.,  39599.,  37503.,  24454.,
        24503.,  34530.,  35644.,  39323.,  42422.,  27691.,  27697.,
        39510.,  39425.,  25735.,  41243.,  39204.,  42042.,  27558.,
        42702.,  39477.,  30713.,  18558.,  19344.,  39354.,  30717.,
        41322.,  39313.,  56829.,  39170.,  35626.,  50669.,  27560.,
        30720.,  30281.,  39163.,  41864.,  12209.,  30850.,  49541.,
        41762.,  39522.,  41671.,  39415.,  27667.,  32746.,  39401.,
       414788.,  27615.,  42502.,  39769.,  41881., 111741.,  43283.,
        41643.,  39725.,  42692., 155246.,  74354., 181910.,  41045.,
       157284.,  39743.,  42306.,  39567.,  41405.,  39713.,  42478.,
       281762.,  27658.,  41489.,  42009., 176186.,  27677.,  30143.,
       197952.,  41478., 105828., 181920., 265273., 172157., 150747.,
       212630.,  40648., 106294., 423223., 165952., 176682.,  41948.,
       178732.,  33644.,  74028., 213299.,  41466.,  13033.,  39294.,
       282706., 163255., 182843., 103218., 128803., 162885., 394824.,
       553849., 618878., 181911.,  41458., 655544.,  39302., 150464.,
        42429.,  37216.,  42710.,  26510.,  26663.,   5044.,  26002.,
        42829.,  36617.,  26536.,  34489., 101584.,  26003.,  45492.,
        36846.,  26483., 110154.,  42573.,  40916.,  26484.,  26585.,
        22822., 150210.,  37206.,  26670.,  26586.,  26576.,  45853.,
       184621.,  45836., 150217.,  39609.,  36013., 112107., 104033.,
        26547., 212512.,  27329., 150242.,  33682., 110108., 214984.,
        27031., 243486., 209422., 110136., 150236.,  26508.,   5047.,
        68422.,  13345., 177152., 231674.,  21645., 206809., 118848.,
       156546.,   5710.,  42592., 181377., 278844., 207058.,  33330.,
       150021., 209785., 189958.,  45182., 161014., 110112.,  47532.,
       553476., 352003., 352365., 212147., 167059., 143923., 561819.,
        46130., 243482., 129241., 467024., 588337., 141126., 109650.,
       243490.,  47249.,  13436.,  68835.,  13320.,  13390.,  43313.,
        93450., 115268.,  68740., 136539.,  13454.,  68768.,  13471.,
        13494.,  69004.,  15361., 114822., 138159.,  42929.,  32633.,
        75579., 114817.,  13473., 206801., 115006.,  40976., 206822.,
        17869.,  12340., 264578., 249057., 178434., 309050.,  69382.,
        12318., 168295., 432411., 275751., 181654., 107001.,  69594.,
       277487., 206805., 114270., 281844., 275760.,  13472., 450742.,
       169906., 178584.,  38395.,  72489., 463957., 308842., 361334.,
       427161., 206641., 463806., 232143., 258206., 543021., 618737.,
        97363.,  40610., 150077.,  97498.,  40604.,  19515.,  22125.,
        40963.,  33550., 115171.,  97365.,  30582., 163843.,  45245.,
        45306.,  69341., 150275.,  30967.,  96844.,  19434.,  11716.,
        40186.,  16362.,  19393.,  22418.,  40841.,  25993.,  40959.,
        32034.,  96836., 150066.,  43006., 181198.,  11760.,  45244.,
       164317., 163981.,  37623., 171981., 185908.,  33431.,  32039.,
       121881.,  35453., 194632., 121854., 280969., 124127., 280348.,
       277693., 210046., 280896., 177126.,  30855., 181215., 164430.,
       120621., 150044., 363364., 301804.,  96957., 301812., 131117.,
       202215., 186705., 416175., 110382.,  25811.,  25942., 163887.,
        68482., 426359., 261348., 164316., 361717., 355347., 202632.,
       167285., 500575., 361013., 104986.,  30657., 570468.,  52160.,
       380949., 164354., 181433., 571298., 268306., 163893.,  38536.,
       522846., 581726., 450003., 667964.,  43230.,  23445.,  32693.,
        32418.,  11024.,   9183.,  32679.,  24985.,  35513.,  40583.,
        32658.,  25199.,  34213.,  43243.,  32584.,  95977.,  43282.,
        34656., 148483.,  22924.,  46365.,  24210.,  32713.,  23141.,
        24984.,  23772.,  11498.,  35492.,  33914.,  23918.,   7334.,
        69793.,  35954.,  50051.,  24000.,  14100., 115675.,  75348.,
        23080., 354519.,  22962.,  35336.,  23114., 109622.,  24983.,
       407747., 299380., 165518., 289118.,  41066.,  47559., 186891.,
       252672., 241996., 470003., 620136.,  40980., 254472., 237562.,
       168673., 160367., 166768., 172489., 180197., 289145., 528212.,
        19435.,  24591.,  33018.,  75195.,  37579.,  38520.,  46531.,
        25563.,  33764.,  33986.,  74736.,  34382.,  32678.,  30664.,
        96613.,  33826.,  96623.,  33958.,  33630.,  33827.,  30990.,
        41708.,  37439.,  75390.,  71498.,  33845.,  24494.,  33731.,
        30992.,  33732.,  33753.,   2984.,  38427., 113695.,  75600.,
        96651.,  47566.,  37511.,  37421., 114762., 109222.,  37656.,
        19403.,  96618.,  36622.,  47421.,  40672., 196126.,  37456.,
        97865., 295212.,  51949., 183348.,  74689., 282680., 396526.,
       174030., 246201., 192064., 213504., 101983., 261787., 203527.,
        38484., 449484., 254241., 246422., 101590., 245555., 532942.,
       101920., 300532.,  38559., 213684., 489240.,  80265., 477498.,
        38467.,  39584., 102394.,  95231.,  39420.,  42276.,  67311.,
        25947.,  34485.,  41601.,  66902.,  22700.,  25760.,  67374.,
        31470.,  42231.,  10637.,  42259.,  42113.,  41722.,  94678.,
        95224.,  42141.,   7621.,  34270.,  25779., 114018., 160901.,
       132814., 320187., 274787., 255251., 128239.,  67357., 156175.,
        33272., 154261., 157856., 520798., 557342., 274776., 202616.,
       462944.,  41975., 330458., 441302.])

In [10]:
players_df.iloc[0:5, :]

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [11]:
leagues_df.iloc[0:5, :]

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [12]:
# How many matches per league do we have?
matches_df.groupby('country_id').size()

country_id
1        1728
1729     3040
4769     3040
7809     2448
10257    3017
13274    2448
15722    1920
17642    2052
19694    1824
21518    3040
24558    1422
dtype: int64

In [13]:
country_df

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

In [14]:
team_df.iloc[0:5]

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [15]:
team_df[team_df['team_api_id']== 9987]

   id  team_api_id  team_fifa_api_id team_long_name team_short_name
0   1         9987             673.0       KRC Genk             GEN

In [16]:
team_attributes_df.iloc[0:5]

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,buildUpPlayPositioningClass,chanceCreationPassing,chanceCreationPassingClass,chanceCreationCrossing,chanceCreationCrossingClass,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,Organised,60,Normal,65,Normal,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,Organised,54,Normal,63,Normal,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,Organised,54,Normal,63,Normal,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,Organised,70,Risky,70,Lots,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,Organised,53,Normal,48,Normal,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [17]:
player_attributes_df.iloc[0:5]

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,63.0,41.0,45.0,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [22]:
player_attributes_df[player_attributes_df['player_api_id'] == 38327]

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,season
180494,180495,151885,38327,2015-09-21 00:00:00,68.0,68.0,right,medium,medium,13.0,12.0,11.0,12.0,11.0,11.0,17.0,13.0,12.0,34.0,31.0,32.0,46.0,67.0,30.0,12.0,57.0,28.0,76.0,16.0,29.0,19.0,12.0,43.0,13.0,13.0,13.0,13.0,69.0,66.0,65.0,66.0,73.0,2015/2016
180495,180496,151885,38327,2014-07-25 00:00:00,67.0,67.0,right,medium,medium,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,33.0,31.0,23.0,28.0,62.0,30.0,25.0,36.0,28.0,71.0,25.0,28.0,25.0,25.0,25.0,25.0,25.0,25.0,25.0,68.0,65.0,62.0,64.0,73.0,2013/2014
180498,180499,151885,38327,2012-08-31 00:00:00,64.0,65.0,right,medium,medium,12.0,11.0,10.0,11.0,10.0,10.0,16.0,12.0,11.0,35.0,45.0,41.0,41.0,62.0,50.0,11.0,56.0,30.0,73.0,15.0,57.0,23.0,11.0,31.0,12.0,12.0,12.0,12.0,67.0,61.0,55.0,61.0,71.0,2012/2013
180499,180500,151885,38327,2012-02-22 00:00:00,64.0,65.0,right,medium,medium,12.0,11.0,10.0,11.0,10.0,10.0,16.0,12.0,11.0,32.0,45.0,41.0,41.0,62.0,41.0,11.0,56.0,40.0,73.0,15.0,57.0,23.0,11.0,31.0,12.0,12.0,12.0,12.0,67.0,61.0,55.0,61.0,71.0,2011/2012
180501,180502,151885,38327,2011-02-22 00:00:00,64.0,67.0,right,medium,medium,12.0,11.0,10.0,11.0,10.0,10.0,16.0,12.0,11.0,35.0,45.0,41.0,41.0,62.0,72.0,11.0,56.0,40.0,73.0,15.0,57.0,23.0,11.0,31.0,12.0,12.0,12.0,12.0,67.0,61.0,55.0,61.0,71.0,2010/2011
180503,180504,151885,38327,2010-02-22 00:00:00,62.0,67.0,right,medium,medium,25.0,25.0,25.0,25.0,10.0,25.0,16.0,12.0,53.0,35.0,45.0,41.0,41.0,62.0,72.0,25.0,56.0,40.0,73.0,25.0,57.0,40.0,33.0,50.0,48.0,25.0,25.0,35.0,65.0,59.0,53.0,59.0,69.0,2009/2010
180505,180506,151885,38327,2008-08-30 00:00:00,58.0,67.0,right,medium,medium,25.0,25.0,25.0,25.0,10.0,25.0,16.0,12.0,46.0,35.0,45.0,41.0,41.0,57.0,72.0,25.0,56.0,40.0,73.0,25.0,57.0,40.0,33.0,50.0,48.0,25.0,25.0,35.0,63.0,51.0,46.0,53.0,68.0,2008/2009
180506,180507,151885,38327,2007-08-30 00:00:00,58.0,67.0,right,medium,medium,25.0,25.0,25.0,25.0,10.0,25.0,16.0,12.0,46.0,35.0,45.0,41.0,41.0,57.0,72.0,25.0,56.0,40.0,73.0,25.0,57.0,40.0,33.0,50.0,48.0,25.0,25.0,35.0,63.0,48.0,46.0,45.0,66.0,2007/2008
180507,180508,151885,38327,2007-02-22 00:00:00,58.0,67.0,right,medium,medium,12.0,11.0,10.0,11.0,10.0,10.0,16.0,48.0,46.0,35.0,45.0,41.0,41.0,57.0,72.0,11.0,56.0,40.0,73.0,15.0,57.0,40.0,33.0,50.0,48.0,12.0,12.0,35.0,63.0,48.0,46.0,45.0,66.0,2006/2007

In [19]:
# merge matches dataframe with player attributes frame by player ID and date
def get_season(date):
    year, month = date.split('-')[0], date.split('-')[1]
    # typical season runs from august to may
    if (int(month) < 8):
        return f'{int(year)-1}/{year}'
    return f'{year}/{int(year)+1}'

player_attributes_df['season'] = player_attributes_df['date'].apply(get_season)
# There are duplicate seasons for some players
player_attributes_df = player_attributes_df.drop_duplicates(subset=['player_api_id', 'season'])
player_attributes_df.head()
for team in itertools.chain(['home', 'away']):
    for i in range(1, 12):
        matches_df = matches_df.merge(player_attributes_df[['player_api_id', 'overall_rating', 'season']], how='inner', left_on=[f'{team}_player_{i}', 'season'], right_on=['player_api_id', 'season'], suffixes=[' ', None])
        matches_df[f'overall_rating_{team}_{i}'] = matches_df['overall_rating']
        matches_df = matches_df.drop(['overall_rating', 'player_api_id'], axis=1)
        
# matches_df = matches_df.drop(['overall_rating ', 'player_api_id '], axis=1)

In [20]:
matches_df.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA,overall_rating_home_1,overall_rating_home_2,overall_rating_home_3,overall_rating_home_4,overall_rating_home_5,overall_rating_home_6,overall_rating_home_7,overall_rating_home_8,overall_rating_home_9,overall_rating_home_10,overall_rating_home_11,overall_rating_away_1,overall_rating_away_2,overall_rating_away_3,overall_rating_away_4,overall_rating_away_5,overall_rating_away_6,overall_rating_away_7,overall_rating_away_8,overall_rating_away_9,overall_rating_away_10,overall_rating_away_11
0,146,1,1,2008/2009,24,2009-02-27 00:00:00,493017,8203,9987,2,1,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,38327.0,67950.0,67958.0,67959.0,37112.0,36393.0,148286.0,67898.0,164352.0,38801.0,26502.0,37937.0,38293.0,148313.0,104411.0,148314.0,37202.0,43158.0,9307.0,42153.0,32690.0,38782.0,None,None,None,None,None,None,None,None,3.00,3.4,2.30,2.95,3.25,2.20,2.80,3.1,2.2,2.75,3.25,2.20,NaN,NaN,NaN,2.62,3.20,2.30,3.05,3.2,2.30,2.65,3.25,2.35,2.90,3.25,2.30,2.8,3.2,2.25,58.0,57.0,67.0,53.0,60.0,63.0,60.0,66.0,50.0,65.0,58.0,62.0,70.0,59.0,55.0,54.0,72.0,67.0,65.0,70.0,68.0,63.0
1,218,1,1,2008/2009,31,2009-04-26 00:00:00,493080,9984,9987,1,2,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,36835.0,37047.0,37051.0,37038.0,38186.0,37957.0,37909.0,104386.0,38357.0,37065.0,12692.0,37937.0,38789.0,38293.0,104411.0,148314.0,9307.0,39498.0,43158.0,20445.0,32690.0,37202.0,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,64.0,62.0,62.0,63.0,68.0,67.0,62.0,69.0,68.0,64.0,62.0,69.0,70.0,55.0,54.0,65.0,68.0,67.0,63.0,68.0,72.0
2,163,1,1,2008/2009,26,2009-03-13 00:00:00,493034,8203,8635,2,1,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,38327.0,67950.0,67958.0,38801.0,67898.0,37112.0,67959.0,148286.0,164352.0,33657.0,26502.0,34480.0,38388.0,38389.0,31316.0,164694.0,30949.0,38378.0,38383.0,38393.0,38253.0,37069.0,None,None,None,None,None,None,None,None,4.50,3.6,1.75,4.70,3.30,1.70,4.20,3.2,1.7,4.00,3.40,1.72,NaN,NaN,NaN,4.33,3.30,1.70,4.75,3.5,1.73,4.35,3.30,1.75,4.50,3.40,1.75,4.2,3.3,1.75,58.0,57.0,67.0,65.0,66.0,60.0,53.0,60.0,50.0,64.0,58.0,67.0,72.0,72.0,66.0,67.0,75.0,70.0,74.0,74.0,70.0,69.0
3,244,1,1,2008/2009,34,2009-05-16 00:00:00,493106,9987,8635,0,2,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,37937.0,38789.0,38785.0,38293.0,148313.0,9307.0,43158.0,104411.0,32690.0,38780.0,42153.0,34480.0,33620.0,38388.0,13423.0,38389.0,30949.0,38393.0,38253.0,38798.0,38383.0,37069.0,None,None,None,None,None,None,None,None,8.00,4.0,1.40,6.50,3.90,1.45,6.00,3.9,1.4,6.00,3.50,1.50,NaN,NaN,NaN,7.00,3.75,1.40,7.00,4.2,1.45,6.50,4.00,1.44,6.50,3.75,1.45,7.0,4.0,1.40,62.0,69.0,66.0,70.0,59.0,65.0,67.0,55.0,68.0,62.0,70.0,67.0,72.0,72.0,69.0,72.0,75.0,74.0,70.0,71.0,74.0,69.0
4,169,1,1,2008/2009,26,2009-03-14 00:00:00,493040,10000,9999,0,0,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,2.0,4.0,6.0,8.0,2.0,4.0,6.0,8.0,4.0,6.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,1.0,3.0,3.0,3.0,3.0,7.0,7.0,7.0,7.0,10.0,10.0,37900.0,37886.0,37100.0,37903.0,37889.0,37893.0,37981.0,131531.0,131530.0,38231.0,130027.0,38318.0,38247.0,16387.0,94288.0,94284.0,45832.0,26669.0,33671.0,163670.0,37945.0,33622.0,None,None,None,None,None,None,None,None,1.75,3.5,4.75,1.60,3.55,5.05,1.65,3.4,4.2,1.61,3.25,5.00,NaN,NaN,NaN,1.67,3.40,4.33,1.67,3.5,5.00,1.65,3.50,4.50,1.65,3.50,5.00,1.7,3.4,4.33,61.0,66.0,61.0,61.0,60.0,64.0,67.0,66.0,64.0,58.0,55.0,64.0,62.0,57.0,57.0,51.0,58.0,66.0,57.0,60.0,63.0,65.0